header.bg-gray-800.py-4
    div.container.mx-auto.flex.justify-between.items-center
        a(href="/") 
            h1.text-2xl.text-white.font-extrabold.text-center FincaRaiz
        nav(class="my-5 text-sm md:flex md:items-center font-bold md:gap-3")
            if usuario
                form(action="/auth/cerrar-sesion" method="POST") 
                    input(type="hidden" name="_csrf" value= csrfToken)
                    input(type="submit" class="bg-red-800 py-2 px-10 rounded-lg flex gap-1 items-center" value="Salir")
            else
                a(href="/auth/registro" class="py-2 px-2 rounded-lg flex gap-1 items-center") Crear Cuenta<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 10.5v6m3-3H9m4.06-7.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                    </svg>


                a(href="/auth/login" class="py-2 px-2 rounded-lg flex gap-1 items-center") Iniciar Sesion<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>

            
div(class="bg-gray-800 py-5 hidden lg:block")
    div(class="container mx-auto flex justify-between items-center")
        nav(class=" flex gap-4")
            a(href="/categorias/1" class="text-sm font-bold uppercase text-white") Casas
            a(href="/categorias/2" class="text-sm font-bold uppercase text-white") Apartamentos
            a(href="/categorias/5" class="text-sm font-bold uppercase text-white") Cabañas
            a(href="/categorias/3" class="text-sm font-bold uppercase text-white") Bodegas        
            a(href="/categorias/4" class="text-sm font-bold uppercase text-white") Terrenos
        form(action="/buscador" method="POST" class="flex gap-3 items-center")
            input(type="hidden" name="_csrf" value= csrfToken) 
            label(for="termino" class="text-sm uppercase font-bold") Busqueda
            input(type="text" id="termino" name="termino" placeholder="Buscar Propiedades" class="py-2 px-1 rounded-lg shadow text-sm text-slate-600")
            input(type="submit" value="Buscar" class="bg-gray-200 hover:bg-gray-300 text-black rounded-lg uppercase font-bold p-2 cursor-pointer text-sm")
        